.App {
  text-align: left;
}

.Right_div {
  width: 600px; /* ancho */
  margin: 0 auto; /* Establece la altura del div según tus necesidades */
  height: 800px; /*largo vertical*/
    background-color: white; /* Cambia el color de fondo según tus necesidades */
  /*margin-left: auto; /* Mueve el div a la derecha dentro del contenedor */
  color:black; /*color letra*/
  text-align: center;
}
